.quadro {
        background: #E6E6E6;
        width:470px;
        height: 500px;
        margin: -200px;
        margin-top: 10px;
        padding: 5px;
        box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.pull-left{
    float: left !important;
    margin-left: 50px;

}

.pull-right{
    float: right !important;
    margin-right: 80px;

}

.form1{
        margin-right: 250px; 
        float: right;

}

.form2{
        margin-left: 250px;
        position: absolute;
        float: right;

}

.area {
    position:absolute;
    left:40%;
    top:0;
    width:0px;
    height:0px;
    margin: 100px;
    margin-right: 15px;
}

.area .formulario {
    position: absolute;
    display:block;  
}

fieldset {
    width:440px;
    height:230px;
}

legend {
    font-weight:bold;
    font-family: "Arial";
}

.formulario label {
    position:absolute;
    left:100px;
    margin-right:5px;
    margin: 15px;
    float: right;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0px 16px;
    background-color: white;
    float: left;
    align-items: center;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.title {
    float: left;
    background: url(../ProjetoPI/Imagens/null-logo.png) no-repeat;
    margin-top: 13px;
    font-size: 26px;
    color: #b9c941;
    width: 100px;
    height: 100px;
}
.menu {
    display: block;
    float: center;
    padding-top: 30px;
    padding-right: 20%; 
}
.menu ul{
    list-style-type: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    float: left;
}
.menu a {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: white;
}
.menu a:hover{
    background-color: gray;
    color: #fff;
}
.activated {
    background-color: #b9c941 !important;
    color: #fff !important;
}
.button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
body {
    background-color: #F3F3F3;
}

