body {
  margin: auto;
  background: #eaeaea;  
  font-family: 'Open Sans', sans-serif;
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: gray none repeat scroll 0% 0%;
  color: white;
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 8% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

p span {
  color: #F00;
}

.set{
    margin-left: 475px;
}


p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

select {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 35%;
  height: 42px;
  float: left;
  padding: 0px 15px;
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 30%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}


.estoque{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid gray;
  margin-bottom: 15px;
  width: 30%;
  height: 30px;
  margin-top: 10px;
  margin-left: 100px;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.contentform {
  padding: 40px 30px;

}

.botao-estoque{
  background-color: green;
  color: white;
  text-align: center;
  width: 35%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 220px;
  font-size: 18px;

}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:100%;
  margin-top: -178px;
  margin-left: 370px;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0px 16px;
    background-color: white;
    float: left;
    align-items: center;
    box-shadow: 1px 1px black;
}

.title {
    float: left;
    background: url(../imagens/null-logo.png) no-repeat;
    margin-top: 13px;
    font-size: 26px;
    color: #b9c941;
    width: 100px;
    height: 100px;
}
.menu {
    display: block;
    float: center;
    padding-top: 30px;
    padding-right: 20%; 
}
.menu ul{
    list-style-type: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    float: left;
}
.menu a {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: white;
}
.menu a:hover{
    background-color: gray;
    color: #fff;
}
.activated {
    background-color: #b9c941 !important;
    color: #fff !important;
}
.button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    width: 200px;
    background-color: gray;
    color: white;
}

.tabela{
    margin-top: 30px;
    overflow: auto;
    width: 640px;
    height: 260px;
}